nav.navigation {
  padding: 20px 0 0;
  text-align: center;
}

@media (max-width: 700px) {
  nav.navigation {
    padding: 20px 0 0 0;
    text-align: center;
  }

  #list-page {
    padding: 0;
  }

  #single {
    padding: 0 12px;
  }
}

.img-container { text-align: center; }

.img-container img { max-width: 70%; }

img {
  max-width: 100%;
  pointer-events: none;
}

.linkedin {
  text-align: center;
  color: #8c8c8c;
}

svg:hover path {
  fill: #5badf0!important;
  fill-opacity: 1!important;
}

.summary .tags {
  margin-top: 12px;
}
.summary .tags a {
  background: #f2f2f2;
  padding: 4px 7px;
  color: #757575;
  font-size: 14px;
  margin-right: 3px;
}
.summary .tags a:hover {
  color: #0366d6;
}

#archive {
  margin-top: 48px;
}

#tags {
  margin: 48px auto;
}

#list-page .pagination {
  text-align: center;
  margin-bottom: 0;
}